all.export / 
all.pidpath /var/run/xrootd

oss.localroot /data/ 
  
all.manager redirector 1213
all.role server

xrootd.trace info 
xrd.trace info 
acc.trace debug 
ofs.trace debug 
sec.trace debug 

if exec xrootd  
xrd.port 1094 
xrd.protocol XrdHttp:1094 libXrdHttp.so 
fi

#http.trace 
# Uncomment the following line to get extensive debugging information 
http.trace all debug 
   
# Enable the SciTokens authorization library. 
ofs.authorize 
ofs.authlib libXrdAccSciTokens.so config=/etc/xrootd/scitokens.cfg 
  
# This particular authfile allows anonymous writes. 
acc.authdb /etc/xrootd/Auth-file-http

http.header2cgi Authorization authz 
  
# Boiler-plate HTTPS configuration 
#http.cadir /etc/grid-security/certificates
#http.cert /etc/grid-security/hostcert.pem
#http.key /etc/grid-security/hostcert.key
  
http.listingdeny yes 
http.staticpreload http://static/robots.txt /etc/xrootd/robots.txt 
